*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
header{
    text-align: center;
    font-size: 300%;
}
h3{
    color: green;
}
ul{
    font-style: italic;
    text-decoration: none;
}
.katalog {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px; 
    margin-top: 20px;
}

.katalog img {
    width: 90%;
}
.tekst{
    border: 1px solid lightgreen;
    margin-left: 20px;
    margin-right: 20px;
}
h4{
    text-decoration: none;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    color: white;
}
.pierw{
    background-color: whitesmoke;
}
.drug{
    background-color: lightgreen;
}
.okno{
    width: 22%;
    background-color: whitesmoke;
    border-radius: 8px;
        box-shadow: dimgray 2px 2px 8px;

}